*{
    box-sizing: border-box;
}
body{
    background-color: #22252C;
}

ul{
    list-style-type: none;
}
img{
width: 263px;
border-radius: 20px;
}

.rows-btn .btn,
.advanced-edit .btn,
.download-share .btn{
    width: 60px;
    height: 55px;
    border: 1px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

.btn{
    cursor: pointer;
}