.hidden{
    display: none;
}

.impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.arial{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.verdana{
    font-family: Verdana, Geneva, sans-serif;
}