

.canvas-container{
display: flex;
justify-content: space-around;
}

canvas{
    border-radius: 10px;
}

.rows-btn{
    display: flex;
    gap: 17px;
}

.meme-editor{
    /* position: absolute; */
    background-color: #383B42;
    width: 528px;
    height: 549px;
    text-align: center;
    border-radius: 15px;
}

.edit-zone{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    gap: 17px;
}

.advanced-edit{
    display: flex;
    flex-wrap: wrap;
   background-color: RGBA(25, 165, 159, 1);
   width: 447px;
   border-radius: 5px;
   justify-content: center;
   gap: 32px;
}

.advanced-edit .btn{
    margin-top: 10px;
}

.advanced-edit input{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.advanced-edit select{
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
}