.canvas-container {
    display: flex;
    justify-content: space-around;
}

canvas {
    border-radius: 10px;
}

.rows-btn {
    display: flex;
    gap: 17px;
}

.meme-editor {
    background-color: #383B42;
    width: 528px;
    height: 549px;
    text-align: center;
    border-radius: 15px;
}

.edit-zone {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    gap: 17px;
}

.advanced-edit {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: RGBA(25, 165, 159, 1);
    width: 447px;
    border-radius: 5px;
    justify-content: center;
    gap: 25px;
}

.advanced-edit .btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.advanced-edit input {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    position: absolute;
    z-index: -1;
    top: 1px;
    right: 3px;
}

.advanced-edit label {
    padding-top: .8em;
    cursor: pointer;
    position: relative;
    transition: scale .2s;
}

.advanced-edit label:hover {
    padding-top: .8em;
    cursor: pointer;
    position: relative;
    scale: 1.2;
}

.advanced-edit label:active input {
    position: absolute;
    top: 0;
    right: 0;
}

.advanced-edit select {
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    height: 65px;
    width: 74px;
}