@media(width>1087px) {
    .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 20px;
    }

    .toggle-menu-btn {
        display: none;
    }
}

@media (width < 1135px) {
    .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 20px;
    }

    img {
        width: 200px;
    }

    .canvas-container {
        display: grid;
        margin-top: 30px;
    }

    .meme-editor {
        width: 500px;
        height: 400px;
    }

    .edit-zone {
        margin-top: 0px;
    }

    .toggle-menu-btn {
        display: none;
    }

    .edit-zone {
        gap: 9px;
    }

    .rows-btn .btn {
        width: 54px;
        height: 46px;
    }

    .advanced-edit {
        width: 425px;
    }

    .advanced-edit .btn {
        margin-top: 6px;
        width: 54px;
        height: 46px;
    }

    .advanced-edit .download-btn ,
    .download-share .btn {
        width: 54px;
        height: 46px;
    }

    button.fa.download-btn{
        width: 54px;
        height: 46px;
    }

    .advanced-edit select {
        height: 52px;
    }

}

@media (width < 860px) {
    .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        margin-left: 20px;
    }

    .toggle-menu-btn {
        display: none;
    }
}

@media (width < 882px) {
    .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 9px;
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background: rgb(95 158 160 / 96%);
        border-inline-start: 1px solid #ccc;
        min-width: 120px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -4px 2px 8px black;
    }

    .header-nav {
        flex-direction: column;
        padding-inline-start: 15px;
        padding: unset;
    }

    .header-nav li {
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

    .toggle-menu-btn {
        display: block;
    }

    img {
        width: 130px;
    }

    .header-logo {
        font-size: 1.2em;
    }

    .more-btn{
        font-size: .6em;
    }

}