/* NEED CHANGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@font-face {
    font-family: fa;
    src: url("../../fonts/fa/fa-brands-400.ttf");
}

.fa::before {
    font-family: fa;
}
/* EXAPMLES!!!!!!!!!!!!!!!! */
.fa.facebook::before {
    content: "\f39e";
}

.fa.twitter::before {
    content: "\f099";
}

.fa.instagram::before {
    content: "\f16d";
}

.fa.linkedIn::before {
    content: "\f0e1";
}