header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 224, 255, 1) 0%, rgba(9, 121, 69, 1) 100%);
    border-radius: 35px;
    color: whitesmoke;
    height: 60px;
}

.header-logo {
    height: 1em;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    cursor: pointer;
    display: flex;
    gap: 1em;
}